body{
    font-family: Mali;
}.bg-gray{
    background-color: #F8F8F8;
}.width-auto{
    width: auto;
}.width-50{
    width: 50%;
}.width-75{
    width: 75%;
}.margin-auto{
    margin: auto;
}.font-size-75{
	font-size: 75px;
}.font-size-50{
	font-size: 50px;
}.font-size-40{
	font-size: 40px;
}.font-size-20{
	font-size: 20px;
}.wevy-underline{
    text-decoration-style: wavy;
    text-decoration-line: underline;
}.small{
    line-height:30px;
}.mid{
    line-height:40px;
}
